body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.question-container{
  width: 100vw;
  height: 100vh;
}

.question-text{
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-text h1{
  text-align: center;
}

.button-row {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.reset-btn {
  height: 5vh;
  background-color: red;
  color: white;
}

.choice-container {
  height: 50vh;
  display: flex;
  
  flex-wrap: wrap;
  align-items: stretch;
}

.choice {
  width: 50%;
  height: 25vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-btn{
  width: 95%;
  height: 90%;
}